//color
$color-background: #f5f0e8;
$color-dark: #2c1810;
$color-primary: #d38021;
$color-text: #3d2b1f;
$color-light: #fdfdf7;

//text size
$font-heading: 'Playfair Display', serif;
$font-body: 'Inter', sans-serif;